.pagination {
  display: flex;
  align-items: center;

  &__prev,
  &__next,
  &__item {
    padding: 10px 14px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1;
    color: theme-color('secondary');
  }
  &__next,
  &__prev {
    &:disabled {
      cursor: not-allowed;
      color: lighten(theme-color('secondary'), 44%);
    }
    &:not(:disabled):hover {
      color: lighten(theme-color('secondary'), 18%);
    }
  }
  &__item {
    border: 1px solid transparent;
    margin: 0px 1px;

    &--active {
      border-color: lighten(theme-color('gray'), 26%);
    }
    &:not(.pagination__item--active):hover {
      border-color: lighten(theme-color('gray'), 30%);
    }
  }
}
