.btn {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 4px 8px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  transition: all 0.3s;

  &--block {
    width: 100%;
  }
  &--sm {
    padding: 5px 15px;
  }
  &--md {
    padding: 5px 20px;
  }
  &--lg {
    padding: 8px 10px;
  }
  &--transparent {
    border: 1px solid lighten(theme-color('gray'), 30%);
    background-color: transparent;
    color: theme-color('secondary');

    &:hover {
      background-color: darken(#fff, 5%);
    }
  }
}

@each $key, $value in $theme-colors {
  .btn--#{$key} {
    color: #fff;
    background-color: $value;
    border: 1px solid $value;

    &:hover {
      background-color: darken($value, 8%);
    }
  }
}
