.radio {
  cursor: pointer;
  position: relative;
  border: 1px solid lighten(theme-color('secondary'), 50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: all 0.3s;
  background-color: #fff;

  &:not(:disabled):hover {
    border: 1px solid lighten(theme-color('primary'), 10%);
  }
  &:disabled {
    cursor: not-allowed;
    background-color: darken(theme-color('white'), 4%);
  }
  &:checked {
    border: 1px solid lighten(theme-color('primary'), 10%);
  }
  &:checked::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: lighten(theme-color('primary'), 10%);
  }
}
