.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .list {
    display: flex;
    align-items: center;
    flex: 1;
    @include desktop() {
      flex: 0 0 auto;
    }

    &__item {
      position: relative;
      flex: 1;
      @include desktop() {
        flex: 0 0 auto;

        &:hover .popover {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      min-height: 36px;
      font-size: 14px;
      color: theme-color('secondary');
      transition: all 0.3s;
      border: 1px solid lighten(theme-color('gray'), 30%);
      border-left: none;
      border-top: none;
      @include desktop() {
        min-height: 32px;
        border-radius: 4px;
        border: 1px solid lighten(theme-color('gray'), 30%) !important;
      }

      &.menu-link {
        border-right: none;
      }
      &:hover .search {
        max-width: 300px;
      }
      &:not(.search-link):hover {
        background-color: lighten(theme-color('gray'), 37%);
      }
    }
  }
  .line {
    width: 1px;
    display: inline-block;
    width: 1px;
    background-color: darken(theme-color('white'), 30%);
    height: 10px;
    margin: 0px 4px;
  }
  .search {
    min-height: 30px;
    max-width: 0px;
    border: none;
    font-size: 14px;
    color: theme-color('secondary');
    background-color: transparent;
    transition: all 0.3s;
  }
  .icon {
    font-size: 18px;
    @include desktop() {
      font-size: 14px;
    }
  }
  .icon-resize {
    font-size: 20px;
    @include desktop() {
      font-size: 16px;
    }
  }
}
