.product-detail {
  position: relative;

  &__img {
    width: 100%;
    height: 380px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__title {
    font-size: 20px;
    @include text-ellipsis(2);
  }
  &__category {
    color: theme-color('gray');
  }
  &__section {
    background-color: lighten(theme-color('gray'), 38%);
    font-size: 16px;
  }
  &__origin-price {
    font-size: 16px;
    text-decoration: line-through;
  }
  &__price {
    font-size: 30px;
  }
  &__percent {
    font-size: 12px;
    padding: 2px 4px;
  }
  &__sub {
    font-size: 14px;
  }
  &__features {
    font-size: 14px;

    .item {
      line-height: 1.3;
    }
  }
  &__dropdown {
    position: relative;
    font-size: 14px;
    border-bottom: 1px solid lighten(theme-color('gray'), 30%);
    max-width: auto;
    width: 100%;
    z-index: 1;
    @include desktop() {
      max-width: 280px;
    }

    .collapse {
      position: absolute;
      top: 37.25px;
      left: 0;
      right: 0;
      background-color: lighten(theme-color('gray'), 40%);
      border: 1px solid lighten(theme-color('gray'), 30%);
      border-radius: 4px;
      display: none;

      &--active {
        display: block;
      }
      .title {
        position: relative;
        color: theme-color('primary');
        font-weight: 600;

        &::before {
          position: absolute;
          left: -10px;
          width: 3px;
          height: 100%;
          background-color: theme-color('primary');
          display: block;
          content: '';
        }
      }
      .date {
        font-size: 12px;
      }
    }
  }
  &__btn {
    border: 1px solid lighten(theme-color('gray'), 30%);
    color: lighten(theme-color('secondary'), 10%);
    padding: 8px 10px;

    &.left {
      border-right: none;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    &.right {
      border-left: none;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    &:disabled {
      color: lighten(theme-color('secondary'), 40%);
      background-color: lighten(theme-color('gray'), 36%);
      cursor: not-allowed;
    }
    &:not(:disabled):hover {
      background-color: lighten(theme-color('gray'), 36%);
    }
  }
  &__input {
    max-width: 80px;
    min-width: 0px;
    border: 1px solid lighten(theme-color('gray'), 30%);
    color: theme-color('secondary');
    font-size: 16px;
    height: 34px;
    text-align: center;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }
  &__stock {
    font-size: 14px;
  }
  &__tab {
    display: block;
    font-size: 18px;
    background-color: lighten(theme-color('gray'), 38%);
  }
  &__content {
    line-height: 1.3;
    min-height: 200px;
  }
  .line {
    width: 1px;
    height: 12px;
    background-color: theme-color('gray');
  }
  .icon {
    transition: all 0.3s;

    &--rotate {
      transform: rotate(180deg);
    }
  }
  .hr {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid lighten(theme-color('gray'), 34%);
  }
}
