.stepper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 992px) {
    padding: 0px 180px;
  }

  &__item {
    position: relative;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: theme-color('secondary');
    color: theme-color('white');
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;

    &--active {
      background-color: theme-color('primary');

      .stepper__text {
        color: theme-color('primary');
      }
    }
  }
  &__line {
    flex: 1;
    height: 1px;
    background-color: lighten(theme-color('gray'), 20%);
  }
  &__text {
    position: absolute;
    color: theme-color('secondary');
    top: 48px;
    white-space: nowrap;
    font-size: 15px;
    display: none;
    @media screen and (min-width: 992px) {
      display: inline;
    }
  }
}
