.header {
  width: 100%;
  display: flex;
  align-items: center;

  &__menu {
    cursor: pointer;
    padding: 19.5px 15px;
    display: block;
  }
  &__logo {
    margin: 10px 10px 14px 0px;
    width: 32px;
    height: 32px;
    background-image: url('~@img/logo-s.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  &__link {
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: lighten(theme-color('secondary'), 10%);
    }
  }
  &__line {
    width: 2px;
    height: 24px;
    background-color: rgb(219, 219, 219);
  }
  &__btn {
    text-decoration: none;
    display: flex;
    font-size: 16px;
    align-items: center;
    padding: 19.5px 15px;
    transition: all 0.3s;
    color: theme-color('secondary');

    &:hover {
      color: theme-color('primary');
    }
  }
}
