.sidebar {
  color: theme-color('secondary');

  &__toggle {
    cursor: pointer;
    padding: 21px 15px 21px 20px;
  }
  .tab {
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: all 0.3s;

    .arrow {
      transition: all 0.3s;

      &--rotate {
        transform: rotate(180deg);
      }
    }
    .icon {
      text-align: center;
      width: 16px;
      margin-bottom: 2px;
    }
    &:hover .arrow {
      color: theme-color('primary');
    }
  }
  .list {
    font-size: 14px;
    max-height: 0px;
    transition: all 0.3s;
    overflow: hidden;

    &__link {
      display: inline-block;
      width: 100%;
      padding: 6px (20px + 31px);
      text-decoration: none;
      color: lighten(theme-color('secondary'), 20%);
      transition: all 0.3s;

      &:hover {
        color: theme-color('primary');
      }
      &--active {
        color: theme-color('primary');
      }
    }
    &--active {
      max-height: 300px;
    }
  }
}
