.sidebar {
  color: theme-color('secondary');

  .rotate {
    transform: rotate(180deg);
  }
  .tab-name {
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    transition: all 0.3s;
    font-weight: 900;

    .text-l-1 {
      margin-left: 0.75px;
    }

    .text-l-2 {
      margin-left: 2.5px;
    }

    span:first-child {
      margin-top: -1px;
    }

    span:last-child {
      transition: all 0.3s;
    }
    &:hover span:last-child {
      color: theme-color('primary');
    }
  }
  .list {
    font-size: 14px;
    max-height: 0px;
    transition: all 0.3s;
    overflow: hidden;

    &__link {
      display: inline-block;
      width: 100%;
      padding: 7px 8px;
      text-decoration: none;
      color: theme-color('secondary');
      transition: all 0.3s;

      &:hover {
        color: theme-color('primary');
      }
      &--active {
        color: theme-color('primary');
      }
    }
    &--active {
      max-height: 300px;
    }
  }
}
