.header-layout {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 5;
  @include desktop() {
    left: 50%;
  }
}

.sidebar-layout {
  position: fixed;
  top: 0px;
  width: 250px;
  height: 100%;
  transition: transform 0.3s;
  transform: translateX(-250px);
  z-index: 15;
  overflow: auto;

  .openSidebar & {
    transform: translateX(0px);
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.main-layout {
  position: relative;
  width: 100%;
  padding-left: 0px;
  background-color: lighten(theme-color('gray'), 38%);
  padding-top: 36px;
  min-height: 100vh;
  transition: padding-left 0.3s;
  @include desktop() {
    padding-top: 0px;

    .openSidebar & {
      padding-left: 250px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s;
  z-index: -10;
  @include desktop {
    display: none;
  }

  .openSidebar & {
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 10;
  }
}
