.header-layout {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  @include desktop() {
    z-index: 15;
  }
}

.sidebar-layout {
  position: fixed;
  top: 0px;
  width: 220px;
  height: 100%;
  transition: transform 0.3s;
  transform: translateX(-220px);
  z-index: 15;
  overflow: auto;
  @include desktop() {
    top: 56px;
    z-index: 5;
  }

  .openSidebar & {
    transform: translateX(0px);
  }
}

.main-layout {
  position: relative;
  width: 100%;
  margin-top: 56px;
  margin-left: 0px;
  transition: all 0.3s;
  min-height: calc(100vh - 56px);
  background-color: lighten(theme-color('gray'), 36%);
  @include desktop() {
    .openSidebar & {
      margin-left: 220px;
    }
  }
}

.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s;
  z-index: -10;
  @include desktop {
    display: none;
  }

  .openSidebar & {
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 10;
  }
}
