.header-layout {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(74, 74, 78, 0.12);
  z-index: 5;
}

.sidebar-layout {
  position: fixed;
  top: 56px;
  width: 220px;
  height: 100%;
  box-shadow: 4px 0 4px -4px rgba(74, 74, 78, 0.16);
  transition: transform 0.3s;
  transform: translateX(-220px);
  z-index: 15;

  .openSidebar & {
    transform: translateX(0px);
  }
}

.main-layout {
  position: relative;
  width: 100%;
  margin-top: 56px;
  margin-left: 0px;
  transition: all 0.3s;

  .openSidebar & {
    margin-left: 220px;
  }
}
