.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-md-1 {
  @include desktop() {
    order: 1;
  }
}

.order-md-2 {
  @include desktop() {
    order: 2;
  }
}
