.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

@for $var from 1 through 2 {
  .flex-#{$var} {
    flex: $var;
  }
}

@for $var from 1 through 8 {
  .order-#{$var} {
    order: $var;
  }
}

@for $var from 1 through 8 {
  .order-md-#{$var} {
    @include desktop() {
      order: $var;
    }
  }
}
