@mixin desktop {
  @media screen and (min-width: map-get($grid-breakpoints , md )) {
    @content;
  }
}

@mixin text-ellipsis($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  word-break: break-all;
}
