.shadow-header {
  box-shadow: 0 1px 4px 0 rgba(97, 97, 97, 0.12);
}

.shadow-sidebar {
  box-shadow: 4px 0 4px -4px rgba(74, 74, 78, 0.16);
}

.shadow-section {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}
