.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-xxs {
  font-size: 12px;
}

.font-xs {
  font-size: 14px;
}

.font-s {
  font-size: 15px;
}

.font-m {
  font-size: 20px;
}

.font-l {
  font-size: 22px;
}

.font-xl {
  font-size: 24px;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.white-nowrap {
  white-space: nowrap;
}

.cursor-pointer {
  cursor: pointer;
}

.pointer-none {
  pointer-events: none;
}

.list-style-disc {
  list-style: disc;
}
